// this file contains one-time global imports
@import './global/global-index';
@import './utilities';
@import './components/json-viewer';
@import './components/notification';
@import './components/q-layout';

@font-face {
    font-family: silka;
    src: url("assets/styles/silka/silka-regular-webfont.woff2") format("woff2"),
        url("assets/styles/silka/silka-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: silka;
    src: url("assets/styles/silka/silka-medium-webfont.woff2") format("woff2"),
        url("assets/styles/silka/silka-medium-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

body {
    --top-bar-height: 48px;
    --bottom-bar-height: 52px;

    font-family: "silka", Serif, Arial, sans-serif;
}

p {
    font-size: 16px !important;
}

body.body--light {
    --border-color: #{$grey-5};
    --text-color: #{$dark};
    --invert-text-color: white;
    --grey-text-color: #{$grey-7};
    --tab-bg-color: #{$grey-3};
    --active-tab-bg-color: #{$tab-active-light};
    --active-tab-text-color: white;

    --q-primary: #2a8de3 !important;
    --q-secondary: #8B3F98 !important;

    a:hover {
        color: $a-hover-light;
    }
}

body.body--light a:hover {
    color: $a-hover-light;
}

body.body--dark {
    --border-color: #{$grey-7};
    --text-color: white;
    --invert-text-color: #{$dark};
    --grey-text-color: #{$grey-5};
    --tab-bg-color: #{$grey-10};
    --active-tab-bg-color: #{#{$tab-active-dark}};
    --active-tab-text-color: white;

    --q-primary: #2a8de3 !important;
    --q-secondary: #8B3F98 !important;

    a:hover {
        color: $a-hover-dark;
    }
}

a {
    color: var(--q-primary);
    text-decoration: none;
    cursor: pointer;
}

html, body {
    background-image: url("src/assets/bk-img.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-image {
    // width: 96px;
    // height: 32px;
    margin-right: 10px;
    margin-left: 10px;
    width: 128px; 
    height: 43px;
}

.bg-navbar {
    background: #f8f9fa !important;
}

.text-navbar {
    color: black !important;
}

.q-toolbar {
    min-height: 69px !important;
}

.blockie-label {
    color: #404142;
    font-family: Silka;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    
    background-color: #fff;
    position: relative;
    z-index: 9999;
}
